extends ./layout/index

block slider
    h3.center.mt15.mb20= receta.name_recipe

    .container
        .row
            .col.sm4.l6.picture_recipe
                img(src=`/${receta.principal_picture}`, alt="picture")
            .col.sm8.l6
                p #{receta.description_recipe}
                p Dificultad: #{receta.difficult_recipe}
                small.right
                    b Hecho por: #{receta.sender_name} #{receta.sender_last_name}
                ul.ml20 
                    b.title Ingredientes
                    each ingrediente in ingredientes
                        li 
                            label
                                input(type="checkbox")
                                span= ingrediente.ingrediente
        ol
            h5
                b Instrucciones
            each instruccion in instrucciones
                li= instruccion.instruccion